extends layout

block content
    <div class="main-scene">
        <!-- Landing Page -->
        <div class="container" id="page-intro" style="height: 100%; align-items: center; vertical-align: middle;">
            <div class="h-100">
                <div class="loading-icon">
                    <img class="loading-image" src="images/main_logo_no_text.png"/>
                    <img class="event-name" src="images/main_logo_text_only.png"/>
                    <div id="clock" class="hidden-sm-down"></div>
                </div>
            </div>
        </div>

        <!-- Menu Bar -->
        <div class="container-fluid paper" id="menu-bar">
            <nav class="navbar center navbar-toggleable-md navbar-light bg-faded" id="menu-bar">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mx-auto">
                        <li class="nav-item">
                            <a class="nav-link menu-bar-link" href="#who-are-we-page">WHAT IS START|ED?<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-bar-link" href="#venue-page">EVENT INFO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-bar-link yellow" href="#ticket-page">GET TICKETS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-bar-link" href="#schedule-page">SCHEDULE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-bar-link" href="#questions-page">GOT QUESTIONS?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-bar-link" href="#brands-page">PARTNERS</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- Who-Are-We Page -->
        <div class="container-fluid" id="who-are-we-page">
            <div id="who-are-we-image" class="paper hidden-md-down">
                <img src="images/rawpixel-com-296613.jpg" style="height: 100%; position: relative; left: -40%;"/>
            </div>
            <div class="container">
                <span style="width: 50%">
                    <div id="who-are-we-info">
                        <h3 class="blue" id="who-are-we-title">WHAT IS START|ED?</h3>
                        <p class="orange" style="font-family: 'Kollektif Bold';">Interested in working in Start-Ups?
                        </p>
                        <p class="orange">Introducing Start-ED; the first student led event with the aim of opening more doors to students after graduation. Our programmes are designed and will be ran by 30+ different start-ups; with the aim of equipping you with the right tools and connections to work in start-ups.
                        </p>
                        <p class="orange">And, you will also get the chance to meet our guests from local and international start ups, incubators and venture capitals. 
                        </p>
                        <p class="orange">Here’s a taster of what we have lined up for you:
                        </p>
                        <ul>
                            <li><p class="orange">workshops</p></li>
                            <li><p class="orange">keynotes</p></li>
                            <li><p class="orange">networking sessions</p></li>
                            <li><p class="orange">mentoring sessions</p></li>
                        </ul>
                        <p class="orange">The following are some of our guests/partners : 
                        </p>
                        <p class="orange">Give a Grad a Go, RASA.ai, LaunchED, Mallzee, Edinburgh Careers, Appointted, Future X, Social Bite, Autopsy.io, BrewGooder, Saltire, School Lab (French Incubator), Administrate, Scotland IS, Swipii Engineer, Diversity VC, Lil Pop, Compass News, Neatebox, Co + Co, Float App, Uuni, Edinburgh Careers, Adopt and Intern, Float, Nameydo, Fundzing, Witchets, Tuki Travel, Startup Surrey 
                        </p>
                        <p class="orange">So why not get yourself ready to work for start-ups?
                        </p>
                        <hr width="70%" style="position: relative; left: -81px;"/>
                        <p class="orange">Start - ED was conceived and ran by a conjoined team of students from two of Edinburgh’s largest universities - Heriot Watt and University of Edinburgh. We started with the vision of getting students prepared and spreading awareness about working in dynamic environments that startups offer.
                        </p>
                    </div>
                </span>
            </div>
        </div>

        <!-- The Venue -->
        <div class="container-fluid paper" id="venue-page">
            <div class="container" style="height: 100%">
                <h3 class="blue center">EVENT INFO</h3>
                <h4 class="white center">DOVECOT STUDIOS, EDINBURGH</h4>
                <p class="white center">10 Infirmary St, Edinburgh EH1 1LT</p>
                <h4 class="white center">WEDNESDAY, FEBRUARY 28</h4>
                <h4 class="white center">13.00 - 18.00</h4>
            </div>
        </div>

        <!-- Ticket Page -->
        <div class="container-fluid" id="ticket-page">
            <div class="container" style="height: 100%">
                <h3 class="blue center">TICKETS</h3>
                <div class="row">
                    <div class="col center  hidden-sm-down">
                        <img src="images/main_logo_color.png" class="grow" width="45%"/>
                        <img src="images/main_logo_color.png" class="grow" width="45%"/>
                    </div>
                    <div class="col-sm-8 center">
                        <h2 class="orange center" style="margin-bottom: 0px;">GENERAL TICKETS NOW ON SALE</h2>
                        <p class="blue center">Early bird tickets are now sold out. Get your tickets before it's too late. <a class="red" style="text-decoration: underline; font-family:'Kollektif Bold'" href="https://started.getqpay.com/">buy your tickets here.</a></p>
                        <p class="blue center" style="font-style: italic; font-size: 10px">*We will be in contact if you purchase early bird tickets. This is to confirm the details of your guest (+1)</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Schecdule Page -->
        <div class="container-fluid paper" id="schedule-page">
            <div class="container" style="height: 100%">
                <h3 class="blue center">SCHEDULE</h3>
                <div>
                    <div class="schedule-carousel">
                        <div class="schedule-item">
                            <div class="schedule-background paper grow"> 
                                <img class="schedule-background-image" src="images/stock/welcome.jpg"/>
                                <div class="schedule-time">13 . 00</div>
                                <div class="schedule-info line1">WELCOME</div>
                                <div class="schedule-info line2">KEYNOTE</div>
                            </div>
                        </div>
                        <div class="schedule-item">
                            <div class="schedule-background paper grow"> 
                                <div class="schedule-time">14 . 00</div>
                                <img class="schedule-background-image" src="images/stock/workshops.jpg"/>
                                <div class="schedule-info line1">WORKSHOPS +</div>
                                <div class="schedule-info line2">MENTORSHIP</div>
                                <div class="schedule-info line3">SESSIONS</div>
                            </div>
                        </div>
                        <div class="schedule-item">
                            <div class="schedule-background paper grow"> 
                                <div class="schedule-time">16 . 00</div>
                                <img class="schedule-background-image" src="images/stock/keynotes.jpg"/>
                                <div class="schedule-info line1">KEYNOTES</div>
                            </div>
                        </div>
                        <div class="schedule-item">
                            <div class="schedule-background paper grow"> 
                                <div class="schedule-time">17 . 45</div>
                                <img class="schedule-background-image" src="images/stock/panel.jpg"/>
                                <div class="schedule-info line1">PANEL</div>
                                <div class="schedule-info line2">DISCUSSION</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Questions Page -->
        <div class="container-fluid" id="questions-page">
            <div class="container" style="height: 100%">
                <h3 class="blue center">GOT QUESTIONS?</h3>
                <p class="orange center">If you have got any enquiries about START|ED and want to get in touch, don't hesitate to contact us at:
                </p>
                <p class="blue center"><a href="mailto:info@start-ed.eu?subject=STARTED%20Question">info@start-ed.eu</a>
                </p>
            </div>
        </div>
        <!-- Brands Page -->
        <div class="container-fluid" id="brands-page">
            <div class="container">
                <h3 class="center white">OUR PARTNERS</h3>
                <div class="your-class paper" style="background-color: white;">
                    <div><img class="slide-image" src="images/brands/Mallzee_Logo.png" width="100%"></div>
                    <div><img class="slide-image fanduel" src="images/brands/Can-You-Make-Money-On-Fanduel-How-To-Win-All-Year-Round.png"></div>
                    <div><img class="slide-image futurex" src="images/brands/package.png" width="100%"></div>
                    <div><img class="slide-image appointedd" src="images/brands/appointedd.png" width="100%"></div>
                    <div><img class="slide-image launchED" src="images/brands/jsIL8RM0_400x400.jpeg" width="100%"></div>
                </div>
            </div>
        </div>
