extends layout

block content
    <div class="main-scene">
        <!-- Landing Page -->
        <div class="container" id="page-intro" style="height: 100%; align-items: center; vertical-align: middle;">
            <div class="h-100">
                <div class="loading-icon">
                    <img class="loading-image" src="images/main_logo_no_text.png"/>
                    <img class="event-name" src="images/main_logo_text_only.png"/>
                    <div id="clock" class="hidden-sm-down"></div>
                </div>
            </div>
        </div>

        <!-- Menu Bar -->
        <div class="container-fluid paper" id="menu-bar">
            <nav class="navbar center navbar-toggleable-md navbar-light bg-faded" id="menu-bar">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mx-auto">
                        <li class="nav-item">
                            <a class="nav-link menu-bar-link" href="#who-are-we-page">WHAT IS START|ED?<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-bar-link" href="#venue-page">EVENT INFO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-bar-link yellow" href="#ticket-page">GET TICKETS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-bar-link" href="#schedule-page">SCHEDULE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-bar-link" href="#questions-page">GOT QUESTIONS?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-bar-link" href="#brands-page">PARTNERS</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- Who-Are-We Page -->
        <div class="container-fluid" id="who-are-we-page">
            <div id="who-are-we-image" class="paper hidden-md-down">
                <img src="images/rawpixel-com-296613.jpg" style="height: 100%; position: relative; left: -40%;"/>
            </div>
            <div class="container">
                <span style="width: 50%">
                    <div id="who-are-we-info">
                        <h3 class="blue" id="who-are-we-title">WHAT IS START|ED?</h3>
                        <h3 style="font-family: 'Kollektif Bold';">For students interested in start-ups</h3>
                        <p class="blue">Whether its starting your own venture or working for an early stage company this is the conference to be at!
                        </p>
                        <p class="blue">We want to prepare you with what University couldn’t - so we’ve got 27 executives and early employees lined up to meet, speak and mentor you. Here’s what we have lined up for you :
                        </p>
                        <h2>Speakers (TED Keynote Style):
                        </h2>
                        <ul class="blue">
                            <li><p><strong>Amiqus CEO </strong> - Entrepreneurial Scotland Rising Star 2017 - Callum Murray - “Solve a problem and create an impact”</p></li>
                            <li><p><strong>Social Bite Director </strong> - Alice Thompson - “Screw it to the rules - crucial entrepeneurial lessons”</p></li>
                            <li><p><strong>Velocity Digital CEO</strong> - Mike McGrail - “Personal marketing in the digital age”</p></li>
                            <li><p><strong>Administrate CEO</strong> - John Peebles<p></li>
                            <li><p><strong>Creator of Startup Autopsy</strong> - Maryam Mazraei - "Powerful lessons from over 100 failed startups"<p></li>
                        </ul>
                        <h2>Panel Discussion:
                        </h2>
                        <ul class="blue">
                            <li><p><strong>Future X</strong> - Co-Founder - Zoi Kantounatou</p></li>
                            <li><p><strong>Float App</strong> - CEO - Colin Hewitt</p></li>
                            <li><p><strong>MSP Edi South + Director Paper Tiger</strong> - Daniel Johnson</p></li>
                            <li><p><strong>Adopt An Intern</strong> - Marketing Lead - Nick Murray</p></li>
                            <li><p><strong>Schoolab</strong> - International Business Development - Carlota Gil Carretero</p></li>
                        </ul>





                        <h2>Mentors:
                        </h2>
                        <p class="blue">Give a Grad a Go, RASA.ai, LaunchED, Mallzee, Edinburgh Careers, Appointedd, Future X, Social Bite, Autopsy.io, Schoolab (French Incubator), Administrate, Scotland IS, Swipii, Lil Pop, Neatebox, Co + Co, Float App, Uuni, Edinburgh Careers, Adopt and Intern, Nameydo, Funzing, Whichit, Tuki Travel
                        </p>
                        <p class="blue">Join us and get yourself <strong class ="orange">#STARTUPREADY!</strong>
                        </p>
                        <hr width="70%" style="position: relative; left: -81px;"/>
                        <p>Start - ED was conceived and ran by a conjoined team of students from two of Edinburgh’s largest universities - Heriot Watt and University of Edinburgh. We started with the vision of getting students prepared and spreading awareness about working in dynamic environments that startups offer.
                        </p>
                    </div>
                </span>
            </div>
        </div>

        <!-- The Venue -->
        <div class="container-fluid paper" id="venue-page">
            <div class="container" style="height: 100%">
                <h3 class="blue center">EVENT INFO</h3>
                <h4 class="white center">DOVECOT STUDIOS, EDINBURGH</h4>
                <p class="white center">10 Infirmary St, Edinburgh EH1 1LT</p>
                <h4 class="white center">WEDNESDAY, FEBRUARY 28</h4>
                <h4 class="white center">13.00 - 18.00</h4>
            </div>
        </div>

        <!-- Ticket Page -->
        <div class="container-fluid" id="ticket-page">
            <div class="container" style="height: 100%">
                <h3 class="blue center">TICKETS</h3>
                <div class="row">
                    <div class="col center  hidden-sm-down">
                        <img src="images/main_logo_color.png" class="grow" width="45%"/>
                        <img src="images/main_logo_color.png" class="grow" width="45%"/>
                    </div>
                    <div class="col-sm-8 center">
                        <h2 class="orange center" style="margin-bottom: 0px;">GENERAL TICKETS NOW ON SALE</h2>
                        <p class="blue center">Early bird tickets are now sold out. Get your tickets before it's too late. <a class="red" style="text-decoration: underline; font-family:'Kollektif Bold'" href="https://started.getqpay.com/">buy your tickets here.</a></p>
                        <p class="blue center" style="font-style: italic; font-size: 10px">*We will be in contact if you purchase early bird tickets. This is to confirm the details of your guest (+1)</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Timeline -->
        <div class="container-fluid paper" id="schedule-page">
            <div class="container" style="height: 100%">
                <h3 class="blue center">SCHEDULE</h3>
                <div>
                    <section class="timeline">
                        <ul>
                            <li>
                                <div>
                                <time>12:30 - 13:00</time>
                                <p>Arrive and getting settled</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <time>13:00-13:20</time>
                                    <p>Olga Kozlova Director of Converge Challenge will give an overview of the entrepreneurial opportunities for students in Scotland</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <time>13:20-13:45</time>
                                    <p>Callum Murray - Amiqus CEO + Entrepreneurial Scotland’s Rising Star Award 2017 - <strong>"Solve a problem and create an impact"</strong></p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <time>13:45-14:15</time>
                                    <p>Maryam Mazraei - Founder Autopsy.io - <strong>"Powerful lessons from over 100 failed startups"</strong></p>
                                </div>
                            </li>

                            <li>
                                <div>
                                    <time>14:15-14:25</time>
                                    <p>Time to make way to workshops</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <time>14:25-15:25</time>
                                    <p>First round of workshops and speed mentoring</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <time>15:25-15:35</time>
                                    <p>Time for switching workshops</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <time>15:35-16:35</time>
                                    <p>2nd round of workshops and speed mentoring</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <time>16:35-15:45</time>
                                    <p>Time to return from workshops</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <time>16:45-17:05</time>
                                    <p>John Peebles - Founder + CEO Administrate <strong></strong></p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <time>17:05-17:30</time>
                                    <p>Alice Thompson - Co-founder + Director Social bite - <strong>"Screw it to the rules - crucial entrepeneurial lessons"</strong></p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <time>17:30-17:45</time>
                                    <p>Mike Mcgrail - CEO Velocity Digital - <strong>"Personal marketing in the digital age"</strong></p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <time>17:45-18:15</time>
                                    <p>Panel Discussion - <strong>"Skills for the future: How can we be start-up ready now?'"</strong></p>
                                </div>
                            </li>

                        </ul>
                    </section>
                </div>
            </div>
        </div>

        <!-- Questions Page -->
        <div class="container-fluid" id="questions-page">
            <div class="container" style="height: 100%">
                <h3 class="blue center">GOT QUESTIONS?</h3>
                <p class="orange center">If you have got any enquiries about START|ED and want to get in touch, don't hesitate to contact us at:
                </p>
                <p class="blue center"><a href="mailto:info@start-ed.eu?subject=STARTED%20Question">info@start-ed.eu</a>
                </p>
            </div>
        </div>
        <!-- Brands Page -->
        <div class="container-fluid" id="brands-page">
            <div class="container">
                <h3 class="center white">OUR PARTNERS</h3>
                <div class="your-class paper" style="background-color: white;">
                    <div><img class="slide-image" src="images/brands/Mallzee_Logo.png" width="100%"></div>
                    <div><img class="slide-image" src="images/brands/package.png" width="100%"></div>
                    <div><img class="slide-image" src="images/brands/appointedd.png" width="100%"></div>
                    <div><img class="slide-image" src="images/brands/jsIL8RM0_400x400.jpeg" width="100%"></div>
                    <div><img class="slide-image administrate" src="images/brands/administrate.png"></div>
                    <div><img class="slide-image" src="images/brands/float.png"></div>
                    <div><img class="slide-image" src="images/brands/gagago.png"></div>
                    <div><img class="slide-image" src="images/brands/neatebox.png"></div>
                    <div><img class="slide-image" src="images/brands/rasa.png"></div>
                    <div><img class="slide-image" src="images/brands/schoollab.png"></div>
                    <div><img class="slide-image" src="images/brands/socialBite.png"></div>
                    <div><img class="slide-image" src="images/brands/startedEdited.png"></div>
                    <div><img class="slide-image" src="images/brands/swipii.png"></div>
                    <div><img class="slide-image" src="images/brands/velocity.png"></div>
                </div>
            </div>
        </div>
