extends layout

block content
    <div class="container" style="height: 100%">
        <img class="main-image" src="/images/main_logo.png"/>
        <button type="button" class="btn btn-primary register-button">Register Now</button>
        <div id="event-countdown"></div>
    </div>    
