extends layout

block content
    <div class="main-scene">
        <!-- Landing Page -->
        <div class="container" id="page-intro" style="height: 100%; align-items: center; vertical-align: middle;">
            <div class="h-100">
                <div class="loading-icon">
                    <img class="loading-image" src="images/main_logo_no_text.png"/>
                    <img class="event-name" src="images/main_logo_text_only.png"/>
                    <div id="clock"></div>
                </div>
            </div>
        </div>

        <!-- Menu Bar -->
        <div class="container-fluid paper" id="menu-bar">
            <nav class="navbar center navbar-toggleable-md navbar-light bg-faded" id="menu-bar">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mx-auto">
                        <li class="nav-item">
                            <a class="nav-link menu-bar-link" href="#who-are-we-page">WHAT IS START|ED?<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-bar-link" href="#venue-page">EVENT INFO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-bar-link yellow" href="#ticket-page">GET TICKETS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-bar-link" href="#questions-page">GOT QUESTIONS?</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- Who-Are-We Page -->
        <div class="container-fluid" id="who-are-we-page">
            <div class="container">
                <span style="width: 50%">
                    <h3 class="blue" id="who-are-we-title">WHAT IS START|ED?</h3>
                    <div id="who-are-we-info">
                        <p class="orange center" style="font-family: 'Kollektif Bold';">Is it not such a millennial ideal to not work a 9 to 5 hour job, staring into space at an office desk for a big faceless corporation?
                        </p>
                        <p class="orange center">Presenting START|ED, the first student-led event to prepare fellow university students to the life and culture of working at a start-up. Working together with local and international start-ups, incubators, START|ED is the student opportunity to connect and understand life after.
                        </p>
                        <p class="orange center">A conjoined team of students from two of Edinburgh’s universities, the University of Edinburgh and Heriot-Watt University, we hope to create START|ED as an event to cater and prepare fellow students with the skills and confidence to start their future professional careers in startups.
                        </p>
                    </div>
                </span>
            </div>
        </div>

        <!-- The Venue -->
        <div class="container-fluid paper" id="venue-page">
            <div class="container" style="height: 100%">
                <h3 class="blue center">EVENT INFO</h3>
                <h4 class="white center">THE CAVES, EDINBURGH</h4>
                <h4 class="white center">WEDNESDAY, FEBRUARY 28</h4>
                <h4 class="white center">13.00 - 18.00</h4>
            </div>
        </div>

        <!-- Ticket Page -->
        <div class="container-fluid" id="ticket-page">
            <div class="container" style="height: 100%">
                <h3 class="blue center">TICKETS</h3>
                <div class="row">
                    <div class="col center  hidden-sm-down">
                        <img src="/images/main_logo_color.png" width="45%"/>
                        <img src="/images/main_logo_color.png" width="45%"/>
                    </div>
                    <div class="col-8 center">
                        <h2 class="orange center" style="margin-bottom: 0px;">BUY 1 GET 1 FREE</h2>
                        <p class="blue center" style="margin-top: 0px;">Bring a friend!</p>
                        <p class="blue center">The first 50 people to but tickets to START|ED can get 1 free for every ticket you buy. <a class="red" style="text-decoration: underline; font-family:'Kollektif Bold'" href="#">tickets coming soon</a></p>
                        <p class="blue center" style="font-style: italic; font-size: 10px">*Deal is subject to limited availibility.</p>
                    </div>
            </div>
        </div>

        <!-- Questions Page -->
        <div class="container-fluid" id="questions-page">
            <div class="container" style="height: 100%">
                <h3 class="blue center">GOT QUESTIONS?</h3>
                <p class="orange center">If you have got any enquiries about START|ED and want to get in touch, don't hesitate to contact us at:
                </p>
                <p class="blue center"><a href="mailto:info@start.ed?subject=STARTED%20Question">info@start-ed.eu</a>
                </p>
            </div>
        </div>