<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<div class="container-fluid" id="who-are-we-page">
    <div id="who-are-we-image" class="paper hidden-md-down">
        <img src="images/rawpixel-com-296613.jpg" style="height: 100%; position: relative; left: -40%;"/>
    </div>
    <div class="container">
                <span style="width: 50%">
                    <div id="who-are-we-info">
                        <h3 class="blue" id="who-are-we-title">WHAT IS START|ED?</h3>
                        <p style="font-family: 'Kollektif Bold';">A conference for ENTREPRENEURIAL STUDENTS!</p>
                        <p> Whether its starting your own venture or working for the next £Million business when its only 3 people big.
                        </p>
                        <p>University doesn’t tell you what it takes so we’ve got some people together than can.
                        </p>
                        <p>Summary:
                        </p>
                        <ul>
                            <li><p>TED Style Keynotes</p></li>
                            <li><p>Workshops</p></li>
                            <li><p>Mentoring Sessions</p></li>
                        </ul>
                        <p>Summary:
                        </p>
                        <ul>
                            <li><p>TED Style Keynotes</p></li>
                            <li><p>Workshops</p></li>
                            <li><p>Mentoring Sessions</p></li>
                        </ul>

                         <p>Speakers:</p>
                        <ul>
                            <li>Brewgooder CEO - Alan Mahon - “Why start a business when you can start Movement”</li>
                            <li>Amiqus CEO - Entrepreneurial Scotland Rising Star 2017 - Callum Murray - “Solve a problem and create an impact”</li>
                            <li>Social Bite Director - Alice Thompson - “Screw it to the rules - crucial entrepeneurial lessons”</li>
                            <li>Velocity Digital CEO - Mike McGrail - “Personal marketing in the digital age”</li>
                        </ul>


                        <p class="orange">The following are some of our guests/partners :
                        </p>
                        <p class="orange">Give a Grad a Go, RASA.ai, LaunchED, Mallzee, Edinburgh Careers, Appointedd, Future X, Social Bite, Autopsy.io, BrewGooder, Saltire, School Lab (French Incubator), Administrate, Scotland IS, Swipii, Lil Pop, Compass News, Neatebox, Co + Co, Float App, Uuni, Edinburgh Careers, Adopt and Intern, Float, Nameydo, Fundzing, Whichit, Tuki Travel
                        </p>
                        <p class="orange">So why not get yourself ready to work for start-ups?
                        </p>
                        <hr width="70%" style="position: relative; left: -81px;"/>
                        <p class="orange">Start - ED was conceived and ran by a conjoined team of students from two of Edinburgh’s largest universities - Heriot Watt and University of Edinburgh. We started with the vision of getting students prepared and spreading awareness about working in dynamic environments that startups offer.
                        </p>
                    </div>
                </span>
    </div>
</div>

</body>
</html>