@font-face {
    font-family: "Kollektif";
    src: url("../fonts/Kollektif.ttf");
}

@font-face {
    font-family: "Kollektif Bold";
    src: url("../fonts/Kollektif-Bold.ttf");
}

@font-face {
    font-family: "Lato Bold";
    src: url("../fonts/Lato-ExtraBold.ttf");
}

@font-face {
    font-family: "Montserrat Light";
    src: url("../fonts/Montserrat-Light.ttf");
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#network-demo {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.main-scene {
    height: calc(100%);
    background-color: #074f57;
}

.loading-image {
    text-align: center;
    display: block;
    margin: auto;
    max-height: 40vh;

}

.loading-icon {
    text-align: center;
    display: block;
    margin: auto;
    padding-top: 30px; 
    
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.event-name {
    max-height: 10vh;
    text-align: center;
    margin-top: 20px;
}

#event-countdown {
    text-align: center;
    display: block;
    margin: auto;
    width: 620px;
}

#loading-circle {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(-90deg);
}

#clock {
    text-align: center;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
}

.time-box {
    max-height: 10vh;
    margin-right: 5%; 
    margin-left: 5%; 
    width: 100px;
    height: 50px;
    margin-top: 20px;
    display: inline-flex;
}

.time {
    color: white;
    font-family: "Kollektif Bold";
    font-size: 10vh;
    text-align: center;
    margin: auto;
}

.time-label {
    color: #e4572e;
    font-family: "Kollektif Bold";
    font-size: 5vh;
}

.center-box {
    text-align: center;
    margin: auto;
    display: none;
}

#menu-bar {
    background-color: #e4572e;
    z-index: 4;
    min-height: 70px;
}

.menu-bar-link {
    color: white !important;
    font-size: 15px !important;
    font-family: "Kollektif Bold";
    letter-spacing: .15em;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

#who-are-we-page {
    overflow: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
}

#who-are-we-image {
    position: absolute;
    height: 100%;
    left: calc(100% - 40%);
    height: 100%;
    width: 40%;
    margin-top: -25px;
    overflow: hidden;
    -webkit-mask-image: -webkit-gradient(linear, right top, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

#who-are-we-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#who-are-we-info {
     text-align: left;
     float: left;
     width: 70%;
     color: #e4572e;
 }
#who-are-we-info p {
    font-size: 18px;
}

.paper {
    box-shadow: 0 4px 2px -2px #777;
}

.icon {
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: auto;
    text-align: center;
    background-color: white;
    margin-top:  25px;
    margin-bottom: 25px;
}

#venue-page {
    background-color: #ffbf00;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 2;
}

#ticket-page {
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}

#questions-page {
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}

.center { 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#ticketing-page {
    height: 500px;
    background-color: #ffbf00;
}

#schedule-page {
    background-color: #e4dfda;
}


.schedule-background {
    border: 8px solid white;
    width: 166px;
    height: 166px;
    border-radius: 200px;
    background-color: white;
    position: relative;
    top: -190px;
    text-align: center;
    margin: auto;
}

.schedule-background-image {
    width: 150px;
    height: 150px;
    border-radius: 200px;
    background-color: white;
    opacity: .3;
    position: absolute;
}

.schedule-time {
    color: #e4572e;
    position: absolute;
    font-family: 'Lato Bold';
    font-size: 25px;
    text-align: center;
    width: 150px;
    top: 20px;
    z-index: 2;
}

.schedule-info {
    color: #074f57;
    position: absolute;
    text-align: center;
    width: 150px;
    text-align: center;
    font-family: 'Lato Bold';
    font-size: 18px;
    z-index: 2;
}

.line1 {
    top: 60px;
}

.line2 {
    top: 80px;
}

.line3 {
    top: 100px;
}


#brands-page {
    background-color: #074f57;
    padding-top: 20px;
    padding-bottom: 20px;
}

.slide-image {
    background-color: white;
    display: inline-block !important;
    height: 100%;
    width: auto;
}


.white {
    color: white; 
}

.red {
    color: #e4572e;
}

.white-background {
    background-color: #e4dfda; 
}

.blue {
    color: #074f57;
}

.yellow {
    color: #ffbf00 !important;
}

.orange {
    color: #e4572e;
}

h3 {
    font-family: 'Lato Bold';
    font-size: 30px;
    letter-spacing: .2em;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    font-family: 'Kollektif Bold';
    font-size: 35px;
    letter-spacing: .2em;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

h4 {
    font-family: 'Kollektif';
    font-size: 25px;
    letter-spacing: .2em;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    padding-top: 8px;
    padding-bottom: 8px;
}

p {
    font-family: 'Montserrat Light';
    letter-spacing: .10em;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (min-height: 400px) {
    .time {
       font-size: 50px;
    }
    .time-label {
        font-size: 20px;
    }
    .loading-icon {
        padding-top: 10vh;
    }
}

@media screen and (max-width: 992px) {
    #who-are-we-info {
        width: 100%
    }
}

.slick-track {
    height: 200px;
}

.slick-slide {
    text-align: center;
}

.slick-slide::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.slick-slide img {
    vertical-align: middle;
    display: inline-block;
}



.fanduel {
    height: 70%;
    width: auto;
}

/*
timelines
 */

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #ffbf00;
    text-align: center;

}

.timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #ffbf00 transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: -439px;
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #ffbf00;
}

.timeline-time {
    font-size: x-large;
    color: white;

}