html {
    height: 100%;
}

body {
    background-color: #e4dfda;
}

.register-button {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    display: block;
    width: 450px;
    height: 50px;
    border-radius: 50px;
}

.main-image {
    text-align: center;
    display: block;
    margin: auto;
    width: 60%;
}

#event-countdown {
    text-align: center;
    display: block;
    margin: auto;
    width: 620px;
}
