html {
    height: 100%;
}

body {
    height: 100%;
}

.register-button {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    display: block;
    width: 450px;
    height: 50px;
    border-radius: 50px;
    display: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary {
  color: #e4dfda;
  background-color: #074f56;
  border-color: #052d34;
}

#network-demo {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.main-scene {
    height: 100%;
    background-color: #e4572e;
}

.loading-image {
    text-align: center;
    display: block;
    margin: auto;
    width: 100px;
    display: none;

}

.loading-icon {
    text-align: center;
    display: block;
    margin: auto;
}

.event-name {
    width: 100px;
    text-align: center;
    display: none;
    margin-top: 20px;
}

#event-countdown {
    text-align: center;
    display: block;
    margin: auto;
    width: 620px;
}

#loading-circle {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(-90deg);
}
